<div class="main-content page-m">
  <div class="section__content section__content--p30">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">Checkout</div>
            <div class="card-body">
              <form [formGroup]="checkoutFormGroup!" #formDir="ngForm" (ngSubmit)="onSubmit()">
                <h5>Customer Information:</h5>
                <div formGroupName="customer" class="form-area">
                  <div class="row">
                    <div class="col-md-4">
                      <label for="firstName">First Name</label>
                      <input type="text" id="firstName" formControlName="firstName" class="form-control" />
                      <app-control-errors [controlName]="'firstName'" />
                    </div>
                    <div class="col-md-4">
                      <label for="lastName">Last Name</label>
                      <input type="text" id="lastName" formControlName="lastName" class="form-control" />
                      <app-control-errors [controlName]="'lastName'" />
                    </div>
                    <div class="col-md-4">
                      <label for="email">Email</label>
                      <input type="email" id="email" formControlName="email" class="form-control" />
                      <app-control-errors [controlName]="'email'" />
                    </div>
                  </div>
                </div>

                <h5 class="mt-4">Shipping Address:</h5>
                <div formGroupName="shippingAddress" class="form-area">
                  <div class="row">
                    <div class="col-md-4">
                      <label for="country">Country</label>
                      <select id="country" formControlName="country" class="form-select"
                        (change)="getStates('shippingAddress')">
                        @for (country of (countries | async); track country.code) {
                        <option [value]="country.code">
                          {{ country.name }}
                        </option>
                        }
                      </select>
                      <app-control-errors [controlName]="'country'" />
                    </div>
                    <div class="col-md-4">
                      <label for="street">Street</label>
                      <input type="text" id="street" formControlName="street" class="form-control" />
                      <app-control-errors [controlName]="'street'" />
                    </div>
                    <div class="col-md-4">
                      <label for="city">City</label>
                      <input type="text" id="city" formControlName="city" class="form-control" />
                      <app-control-errors [controlName]="'city'" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <label for="state">State</label>
                      <select id="state" formControlName="state" class="form-select">
                        @for (state of (shippingAddressStates | async); track state.id) {
                        <option [value]="state.id">
                          {{ state.name }}
                        </option>
                        }
                      </select>
                      <app-control-errors [controlName]="'state'" />
                    </div>
                    <div class="col-md-4">
                      <label for="zipCode">Zip Code</label>
                      <input type="text" id="zipCode" formControlName="zipCode" class="form-control" />
                      <app-control-errors [controlName]="'zipCode'" />
                    </div>
                  </div>
                </div>

                <div class="form-check mt-3">
                  <input type="checkbox" id="sameAsShipping" class="form-check-input"
                    (change)="copyShippingToBillingAddress($event)" />
                  <label for="sameAsShipping" class="form-check-label">Billing address same as shipping</label>
                </div>

                <h5 class="mt-4">Billing Address:</h5>
                <div formGroupName="billingAddress" class="form-area">
                  <div class="row">
                    <div class="col-md-4">
                      <label for="billingCountry">Country</label>
                      <select id="billingCountry" formControlName="country" class="form-select"
                        (change)="getStates('billingAddress')">
                        @for (country of (countries | async); track country.code) {
                        <option [value]="country.code">
                          {{ country.name }}
                        </option>
                        }
                      </select>
                      <app-control-errors [controlName]="'country'" />
                    </div>
                    <div class="col-md-4">
                      <label for="billingStreet">Street</label>
                      <input type="text" id="billingStreet" formControlName="street" class="form-control" />
                      <app-control-errors [controlName]="'street'" />
                    </div>
                    <div class="col-md-4">
                      <label for="billingCity">City</label>
                      <input type="text" id="billingCity" formControlName="city" class="form-control" />
                      <app-control-errors [controlName]="'city'" />
                    </div>
                    <div class="col-md-4">
                      <label for="billingState">State</label>
                      <select id="billingState" formControlName="state" class="form-select">
                        @for (state of (billingAddressStates | async); track state.id) {
                        <option [value]="state.id">
                          {{ state.name }}
                        </option>
                        }
                      </select>
                      <app-control-errors [controlName]="'state'" />
                    </div>
                    <div class="col-md-4">
                      <label for="billingZipCode">Zip Code</label>
                      <input type="text" id="billingZipCode" formControlName="zipCode" class="form-control" />
                      <app-control-errors [controlName]="'zipCode'" />
                    </div>
                  </div>
                </div>

                <h5 class="mt-4">Payment Information:</h5>
                <div formGroupName="creditCard" class="form-area">
                  <div class="row">
                    <div class="col-md-4">
                      <label for="cardNumber">Card Number</label>
                      <input type="text" id="cardNumber" formControlName="cardNumber" class="form-control" />
                      <app-control-errors [controlName]="'cardNumber'" />
                    </div>
                    <div class="col-md-4">
                      <label for="expirationMonth">Expiration Month</label>
                      <select id="expirationMonth" formControlName="expirationMonth" class="form-select">
                        @for (month of creditCardMonths; track $index) {
                        <option [value]="month">
                          {{ month }}
                        </option>
                        }
                      </select>
                      <app-control-errors [controlName]="'expirationMonth'" />
                    </div>
                    <div class="col-md-4">
                      <label for="expirationYear">Expiration Year</label>
                      <select id="expirationYear" formControlName="expirationYear" class="form-select"
                        (change)="handleMonthsAndYears()">
                        @for (year of creditCardYears; track $index) {
                        <option [value]="year">
                          {{ year }}
                        </option>
                        }
                      </select>
                      <app-control-errors [controlName]="'expirationYear'" />
                    </div>
                    <div class="col-md-4">
                      <label for="cvv">CVV</label>
                      <input type="text" id="cvv" formControlName="cvv" class="form-control" />
                      <app-control-errors [controlName]="'cvv'" />
                    </div>
                    <div class="col-md-4">
                      <label for="cardHolderName">Card Holder Name</label>
                      <input type="text" id="cardHolderName" formControlName="nameOnCard" class="form-control" />
                      <app-control-errors [controlName]="'nameOnCard'" />
                    </div>
                  </div>
                </div>

                <h5>Order Summary:</h5>
                <div class="form-area">
                  <div>Total Items: {{ totalQuantity }}</div>
                  <div>Total Price: {{ totalPrice | currency }}</div>
                </div>

                <button type="submit" class="btn btn-primary mt-3">
                  Place Order
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>